<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.carrotmarket">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:name=".config.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarrotMarket"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".src.config.src.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CarrotMarket.NoActionBar">

        </activity>

        <activity android:name=".src.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".src.config.src.main.btm.products.category.select.CategorySelectActivity">

        </activity>

        <activity android:name=".src.config.src.users.profile.ProfilePatchActivity">

        </activity>


        <activity android:name=".src.config.src.main.btm.products.product.detail.edit.EditActivity"></activity>

        <activity android:name=".src.config.src.main.btm.products.product.writing.ProductWritingActivity">

        </activity>

        <activity android:name=".src.StartActivity">


        </activity>
        <activity android:name=".src.login.LoginLocationActivity">

        </activity>
        <activity android:name=".src.login.LoginMainActivity">

        </activity>

        <activity android:name=".src.config.src.users.signup.SignUpProfileActivity"
            android:windowSoftInputMode="adjustResize">


        </activity>

        <activity android:name=".src.config.src.users.signup.SignUpMainActivity">

        </activity>

        <activity android:name=".src.config.src.main.btm.products.product.search.ProductSearchActivity">



        </activity>

        <activity android:name="com.example.carrotmarket.src.config.src.main.btm.products.product.detail.ProductDetailActivity">


        </activity>

        <activity android:name="com.example.carrotmarket.src.config.src.main.btm.products.product.sale.ProductSaleListActivity">

        </activity>


        <activity android:name="com.example.carrotmarket.src.config.src.main.btm.products.category.HomeCategoryActivity">


        </activity>

        <activity android:name=".src.config.src.main.btm.products.product.writing.ProductWritingActivity"
            tools:ignore="DuplicateActivity"></activity>

        <activity android:name=".src.config.src.users.setting.UsersSettingActivity">


        </activity>
    </application>

</manifest>